@media only screen and (min-width: 992px) { 
body{
	background-image : URL(imagens/bckg.jpg);
	height:0 auto;
	width:98%;
}

#panelRelatorio{
	/* 	width:60%; */
	/* 	height:200px; */
	/* 	position:absolute; */
	/* 	left: 50%; */
	/* 	top:50%; */
	/* 	margin-top:-100px; */
	/* 	margin-left:-310 */
	width:60%;
	/*margin-top:10%;*/
	margin-left:20%;
	
		
}

#j_idt38{
	border:none !important;
}

#j_idt38 > div{
	border:none !important;
}

.ui-panelgrid-blank .cadPendend{
	width:85%;
}

#produto{
		width:75% !important;
		display:block;
		margin-left: -40px !important;
}

#modal{
	width:600px;
}

#produto{
	margin-left:-40px;
}
#btnPesquisar{
	left:-85px;px;
}

#advanced{
	width:195px;
	margin-left: -40px;
}

#iconBuscar{
	margin-left:-85px;
}

#ajax{
	margin-left:-60px;
}

#proPesq{
	text-transform:uppercase; 
	margin-left:-42px;
}

#btnProcessar{
	position: absolute;
	margin-left: 90%;
}

#selectCodpro{
	width: 75%;
}


.tabela{
	  width: 100%;  
}

.tabela tr, .tabela td{
 	border: none !important;  
}
}
@media (max-width: 800px) {
	
	body{
		background-image : URL(imagens/bckg.jpg);
		height:0 auto;
		width:95%;
	}
	
	#panelRelatorio{
	
		  width: 100%;
		  margin-left:0px;
	
	}
	
}
@media (max-width: 600px) {
  	body{
		background-image : URL(imagens/bckg.jpg);
		height:0 auto;
		width:95%;
	}
	
	#panelRelatorio{
	
		  width: 100%;
		  display:block;
	
	}
	
	.modalBusca
	{
		width:80% !important;
	}
	
	.modalTabelaSelect
	{
		width:100% !important;
	}
	
	#produto{
	margin-left:-5px;
	}
	#btnPesquisar{
		left:-5px;px;
	}
	
	#advanced{
		width:75%;
		margin-left: -4px;
	}
	
	#ajax{
		margin-left:0px;
	}

	#proPesq{
		text-transform:uppercase; 
		margin-left:0px;
	}
	
	input[type=text]{
		width:75%;
		display:block;
	}
	input[type=password]{
		width:72%;
		display:block;
		margin-left:10px;
	}
	
	#panelLogin{
	
	
	/*top:50%;
	left:50%;*/
	width:75%;
	margin-top:25%;
	margin-left:15%;
	display:block;
	
	
	}
	
	/*id da tabela gerada pelo primeFaces*/
	 #form:j_idt10
	{
		width:100%;
	}
	
	.tabela{
  	  margin-left: -15px;
  	  display:block;
	}
	
	#form:grid2{
		display:block;
	}
	
	.tabela {
    display: block;
    position: relative;
    width: 100%;
  }

  .tabela thead,
  .tabela tbody,
  .tabela th,
  .tabela td,
  .tabela tr {
    display: block;
    border: none !important; 
  }
  
  .tabela td,
  .tabela th {
    height: 35px;
  }
  
  .tabela thead {
    float: left;
  }
  
  .tabela tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  
  .tabela tbody tr {
    display: 
    block;
  }
	#btnProcessar{
/* 		position: absolute; */
		margin-left: 45px;
	}
}

@media only screen and (max-width: 480px) {
	
	body{
		background-image : URL(imagens/bckg.jpg);
		height:0 auto;
		width:95%;
		}
	
	#panelRelatorio{
	
		  width: 100%;
		 
		  display:block;
	
	}
	
}

@media screen and (max-width: 380px) and (orientation: landscape){
	
	 	body{
		background-image : URL(imagens/bckg.jpg);
		height:0 auto;
		width:95%;
		}
	
	#panelRelatorio{
	
		  width: 100%;
		  /*float: left;
		  margin: 150px 0px;
		  padding: 5px;
		  height: o auto;
		  border: 1px solid black;*/
		  display:block;
	
	}
	
	#ajax{
		margin-left:0px;
	}

	#proPesq{
		text-transform:uppercase; 
		margin-left:0px;
	}
	
	
	input[type=text]{
		width:75%;
		display:block;
	}
	input[type=password]{
		width:75%;
		display:block;
		/*margin-left:10px;*/
	}
	
	#panelLogin
	{
	
	
	/*top:50%;
	left:50%;*/
	width:100%;
	/*margin-top:25%;
	margin-left:15%;*/
	/*display:block;*/
	
	
	}
	/*id da tabela gerada pelo primeFaces*/
	 #form:j_idt10
	{
		width:100%;
	}
	
	.tabela{
  	  /*margin-left: -15px;*/
  	  display:block;
	}
	
	
	
	.tabela {
    display: block;
   /* position: relative;*/
    width: 100%;
  }

  .tabela thead,
  .tabela tbody,
  .tabela th,
  .tabela td,
  .tabela tr {
    display: block;
    border: none !important; 
  }
  
  .tabela td,
  .tabela th {
    height: 35px;
  }
  
  .tabela thead {
    /*float: left;*/
  }
  
  .tabela tbody {
    width: auto;
   	position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  
  .tabela tbody tr {
    display: 
    block;
  }
	#btnProcessar{
/* 		position: absolute; */
		margin-left: 45px;
	}
	
}