@CHARSET "ISO-8859-1";

*{
	padding:0;
	margin:0;
}
body{

	/*background-image: url(../imagens/7AF2Qzt.png);
	width:100%;
	margin: auto; Centralizar o componente da pagina
	display: table;
	min-width:67%;
	max-width:100%;
	height:100%;
	border-radius:5px;*/
	 
	}
	

/* -----------------------   ESTILO nos elementos DOS FORMULARIOS e pagina web  --------------------------------*/



#j_idt10:prod {
	display:block;
	margin-bottom:20px;
	border:1px solid #999;
	padding:8px;
	width:45%;
	height:15px;
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

inputSelect:focus {
	border:1px solid #ccc;
	outline:none;
}

input [type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #4e6361, #64807d );
	background:-webkit-linear-gradient(top, #4e6361, #64807d );
	background:-moz-linear-gradient(top, #4e6361, #64807d );
	border:1px solid #333;
	cursor:pointer;
}


.ButtonApp {
	display: -webkit-inline-box;
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #4e6361, #64807d );
	background:-webkit-linear-gradient(top, #4e6361, #64807d );
	background:-moz-linear-gradient(top, #4e6361, #64807d );
	border:1px solid #333;
	cursor:pointer;
}

/* ----------------------- FIM DOS  ESTILO NOS ELEMENTOS DOS FORMULARIOS e PAGINA WEB PAGINA WEB  --------------------------------*/



/*
*	--------------------  Classes Produto com Custo -------------------------------
*/
.camposTitulo{
	
	  text-align: -webkit-center;
	  font-size: 28px;
	  font-family: Cabin;
	  margin-left: 158px;

}

.cabecalho{	width: 100%;height: 100px;background-color:rgba(255, 255, 255, 0.83);margin-top: -17px;border-bottom: 1px solid;}

.milanoImg{	margin-top: 20px;margin-left: 39%;}

.Fontcabecalho{ 
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: sans-serif;
	font-size: 32px;
	text-align: center;
}

.icones_dir{
	 border: 0; width: 200; height: 20; float: rigth; background-color: none; border-width: 0px; width:60%;
}
.icones_icon{
	width: 35px; height: 35px;
	padding-left: 30px;
}

.form{

	width: 50%;
	border:1px solid #ddd;
	margin:10px auto;
	background-color:#FFF;
	padding:10px 30px;
	border-radius:5px;
	margin-top:75px;

}

.data_tempo{
	border:0; width:20px; height:10px; 
	border-width:0px; width:100%;
}
.formulario{
	width: 100%;
	height: 90px;
	font-family: Arial;
	font-size: 10px;

}
.formulario_select td select{
	
		width:100%;
		height:115%;
	
}

.formulario td{
	/*border:1px solid black;*/
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.formulario_select2{
	
	width:100%;
	font-family: Arial, sans-serif;
	font-size: 20px;

}
.formulario_select2 td{
	
	width:50%;
	font-family: Arial, sans-serif;
	font-size: 20px;

}
.formulario_select td{
	width:50%;
	font-family: Arial, sans-serif;
	font-size: 20px;


}
.tabelas{

	width:100%;

}
.tabela_relatorio tr th{
        background-image:url(../imagens/vd.png)  no-repeat;
        color: #FFFFFF;
        
   
        /*Primeira Tabela*/
}
/*
*	--------------------  Fim das  Classes Produto com Custo -------------------------------
*/




